html {
    font-size: 16px;
    font-family: sans-serif;
}

.igc-content{
    margin: auto;
    padding: 10px;
    width: 50vw;
    border: 1px solid black;
}

canvas {
    margin-left: -2px; /* avoid the bottom scrollbar */
}

.slide-content .scroller {
    width: 1024px;
}

#map {
    width: 100%;
    /*height: calc(100% - 115px);*/
    padding-top: 100%; /* 1:1 Aspect Ratio */
    margin-bottom: 15px;
}


#slider label {
    width: 6em;
    vertical-align: top;
}

#slider button {
    width: 2em;
    vertical-align: top;
}

#slider input[type='range'] {
    width: calc(100% - 11em);
    padding-bottom: 0px; /* Default padding is huge in Internet Explorer.*/
}

#mapWrapper {
    max-height: 110vw;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#mapWrapper {
}

#mapWrapper, #barogram {
    width: 100%;
    display: inline-block;
    position: relative;
}

#barogram {
    height: calc(90vh - 130px);
}

#errorMessage {
    display: none;
    /*font-weight: bold;*/
    /*color: Red;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 30px;*/
}

#igcFileDisplay {
    display: none;
}

/*table#headerInfo {*/
/*    border-spacing: 1em 0;*/
/*}*/

#headerInfo th {
    text-align: left;
    font-weight: bold;
}

.igc-container {
    display: none;
}

.igc-container.algorithm-buttons {
    display: flex !important;
}

#download-p {
    padding-right: 20px;
}

#download-url {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#run-algorithms{
    margin-bottom: 12px;
}

input[type=checkbox] {
    /*margin-left: 40px;*/
    cursor: pointer;
}

.checkbox-label {
    margin-right: 20px;
}

#analytics-output-container {
    border: 1px solid black;
    padding: 20px;
    width: fit-content;
}

.algorithm-buttons, .circle-detection {
    display: none; /* they will be set to visible depending on the context */
}

.algorithm-buttons > button {
    margin-right: 20px;
}

#circle-progress {
    margin-top: 20px;
}

#barogram-chart{
    /*width: calc(50% - 30px);*/
    /*margin-left: 30px;*/
    margin-top: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
